@import url('https://v1.fontapi.ir/css/SFProDisplay');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
    border-radius: 100%;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #E2E1E1;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    height: 5px; /* Adjust height for horizontal scrollbar */
    
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
    border-radius: 100%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E2E1E1;
    border-radius: 5px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Horizontal scrollbar specific styles */
::-webkit-scrollbar-thumb:horizontal {
    background: #E2E1E1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555;
}

.webscrollbarhidden::-webkit-scrollbar{
display: none;
}